.input {
    width: 7%;
    height: 60%;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
    outline: none;
}

.ok {
    border: 2px solid black;
}

.not-found {
    border: 2px solid red;
}
